*,
html,
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  width: 100dvw;
  height: 100%;
  font-family: 'Poppins';
  background: radial-gradient(10.28% 16.20% at 80.78% 34.38%, rgba(0, 231, 190, 0.08) 0%, rgba(0, 231, 190, 0.00) 100%), radial-gradient(14.27% 18.76% at 9.18% 10.79%, rgba(0, 103, 255, 0.08) 0%, rgba(0, 103, 255, 0.00) 100%), #E9EDF2;
  background-size: 100% 200%;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  font-size: calc(60% + 0.8vmin);



}
p {
  margin: 0;
}
a {
  text-decoration: none;
}


.grid {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  max-width: 1440px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-gap: 2.25rem;
  overflow-x: hidden;
  @media (max-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;


  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;


  }
  @media (max-width: 480px) {
   
    padding-left: 0;
    padding-right:0;


  }
}
.grid-span-medium {
  grid-column: 2/-2;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    grid-column: 1/-1;
  }
}




/* loader css */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3ms linear infinite; 
  margin: 0 auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

