*,
html,
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
  background: radial-gradient(10.28% 16.20% at 80.78% 34.38%, rgba(0, 231, 190, 0.08) 0%, rgba(0, 231, 190, 0.00) 100%), radial-gradient(14.27% 18.76% at 9.18% 10.79%, rgba(0, 103, 255, 0.08) 0%, rgba(0, 103, 255, 0.00) 100%), #E9EDF2;
  background-size: 100% 200%;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  font-size: calc(60% + 0.8vmin);
  overflow-y: auto;  /* background: radial-gradient(
      20.04% 35.63% at 20.04% 38.89%,
      rgba(0, 103, 255, 0.2) 0%,
      rgba(0, 103, 255, 0) 100%
    ),
    radial-gradient(
      30.97% 15.76% at 93.79% 86.18%,
      rgba(0, 231, 190, 0.1) 0%,
      rgba(0, 231, 190, 0) 100%
    ),
    #1c232d; */


}
p {
  margin: 0;
}
a {
  text-decoration: none;
}


.grid {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  max-width: 1440px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-gap: 2.25rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;


  }
}
.grid-span-medium {
  grid-column: 2/-2;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    grid-column: 1/-1;
  }
}


.cart-container{
  width: 100%;
  /* height: 396px; */
  padding: 1.25rem;
  border-radius: 14px;
  border: 1px solid #FFF;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.10) 100%);
  box-shadow: 0px 4px 14px 0px rgba(76, 76, 76, 0.05);
}


/* loader css */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3ms linear infinite; 
  margin: 0 auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* card css */

.card{
  width: 100%;
min-height: 120px;
margin-block: 0.625rem;
padding-block: 0.625rem;
display: flex;
flex-direction: row;
gap:0.625rem;
border-radius: 14px;
border: 1px solid #FFF;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.10) 100%);
box-shadow: 0px 4px 14px 0px rgba(76, 76, 76, 0.05);
}
.product-image{
  flex: .5;
  padding-left: 2rem;
}
.product-info{
  flex: 2;
}
.product-info__title{
  color: #1C1C1C;
  font-size: 0.875rem;
  font-weight: 500;
line-height: 120%;
margin-bottom: 0.4rem;
}
.product-info__description{
  color: #7A7A7A;;
 font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 3rem;
  padding-right: 2rem;
}
.product-info__price-count{
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  padding-right: 2rem;
color: #A2A2A2;
font-size: 0.75rem;
line-height: 120%;
margin-bottom: 0.4rem;
}

/* //mediaQuery */

/* @media (max-width: 768px) {
  .product-info__price-count{
    font-size: 1rem;
  }
} */